<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .wrapper{
            background-color: aqua;
            color: darkslateblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .wrapper > div{
            margin-bottom: 10px;
        }

    </style>
</head>
<body class="wrapper">
    {% for p in posts %}
        <br><h1> {{ p.title }} </h1>
        <p>{{ p.content }} </p>
        <p> {{p.published_date }} </p>
    {% endfor %}
</body>
</html>